/*
.map {
  height: 400px;
  width: 100%;
 } */

 body {font-family: "Lato", sans-serif}
h1 {font-family: "Lato", sans-serif}
h2 {font-family: "Lato", sans-serif}
h3 {font-family: "Lato", sans-serif}
h4 {font-family: "Lato", sans-serif}
h5 {font-family: "Lato", sans-serif}
h6 {font-family: "Lato", sans-serif}
.USD {font-family: "Lato", sans-serif}
.w3-bar {font-family: "Montserrat", sans-serif}
h1 {font-family: "Montserrat", sans-serif}
button {font-family: "Montserrat", sans-serif}
.fa-anchor {font-size:200px}
.fa-coffee {font-size:200px}
.image-one{
  object-fit: cover;
  margin: 0;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center; }

.title {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.map{
  display: inline-block;
  text-align: center;
 }

.USD{
  display: flex;
  justify-content: center;
}
.Fact-or-Myth{
  text-align: center;
}
.image-two {
  object-fit: cover;
  height: 250px;
  width: 300px;
}
.image-three {
  object-fit: cover;
  height: 250px;
  width: 300px;
}
Collapse
